@media screen and (min-width: 768px) {
    .logo {
        justify-content: flex-start;
    }

    .cards {
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        padding: 0;
        width: 85%;
        margin: 0 auto;
    }

    .card {
        width: 30rem;
    }

    .card:first-of-type {
        margin-bottom: 0;
    }

    .card-image {
        width: 30rem;
        height: 26rem;
    }

    .votes-number-petro,
    .votes-number-rodolfo {
        font-size: 3.5rem;
    }

    .votes-text {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .candidate-name {
        font-size: 2rem;
    }

    .candidate-party {
        font-size: 1.1rem;
    }

    .card-btn {
        font-size: 2rem;
    }
}


@media screen and (min-width: 1024px) {
    .cards {
        width: 70%;
    }

    .card:hover {
        transform: translateY(-2rem);
    }

    .card:hover .btn-petro,
    .card:hover .btn-rodolfo {
        font-size: 2.5rem;
    }

    .btn-petro:hover {
        background: var(--btn-red-hover);
    }

    .btn-rodolfo:hover {
        background: var(--btn-light-blue-hover);
    }
}

@media screen and (min-width: 1400px) {
    .cards {
        width: 60%;
    }
}